<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ver videos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card-content>
      <p class="txt_into">¿Quieres ver videos? Ve los videos del dia, los videos mostrados aqui fueron elegidos por su contenido interesante o entretenido.</p>
      <p class="txt_yt">Se te rediccionara a la plataforma de YouTube.</p>
    </ion-card-content>
    <ion-card>
      <a href="https://youtu.be/Y1HHBXDL9bg" type="button"><img src="assets/img/img_1.png" class="min_img" alt="img_vid"></a><br>
      <p class="txt_title">Todo el mundo debe aprender a programar</p> 
    </ion-card>

    <ion-card>
      <a href="https://youtu.be/a8Q2xpI7hbs" type="button"><img src="assets/img/img_2.png" class="min_img" alt="img_vid"></a><br>
      <p class="txt_title">Historia de la computadora (generaciones)</p> 
    </ion-card>

    <ion-card>
      <a href="https://youtu.be/ofOu0lkJc3E" type="button"><img src="assets/img/img_3.png" class="min_img" alt="img_vid"></a><br>
      <p class="txt_title">Aprende divirtiéndote</p> 
    </ion-card>
    
    <ion-card>
      <a href="https://youtu.be/5R4pe0qSDAc" type="button"><img src="assets/img/img_4.png" class="min_img" alt="img_vid"></a><br>
      <p class="txt_title">Memes random</p> 
    </ion-card>

    <ion-card>
      <a href="https://youtu.be/5DGwOJXSxqg" type="button"><img src="assets/img/img_5.png" class="min_img" alt="img_vid"></a><br>
      <p class="txt_title">COVID-19: ¿Qué sucede si te infectas de Coronavirus?</p> 
    </ion-card>

</ion-content>
