.min_img{
    text-align: center;
}

.txt_title{
    font-family: 'Courier New';
    color: white;
    text-align: center;
}

.txt_yt{
    color: rgb(201, 36, 36);
    text-align: center;
    font-style: inherit;
}

.txt_into{
    text-align: justify;
    font-style: inherit;
}